#table-project-steering {
    border: 2px solid black !important;
    thead {
        th {
            border: 2px solid black !important;
            background: gray("200") !important;
        }
    }
    tbody {
        td,
        tr {
            border-right: 2px solid black !important;
        }
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: 15%; 
    }
    th:nth-child(2),
    td:nth-child(2) {
        width: 10%; 
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 20%; 
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 10%; 
    }

    th:nth-child(5),
    td:nth-child(5) {
        width: 10%;
    }

    th:nth-child(6),
    td:nth-child(6) {
        width: 30%; 
    }
}