.o_project_milestone_time_progress {
  height: 16px;
  background-color: #FFF;
  margin-left: -5px;
  margin-bottom: -5px;
  margin-right: -5px;
  margin-top: 5px;
  > div {
    height: 100%;
    max-width: 100%;
    font-size: 10px;
    background-color: #58595b;
    color: white;
    font-weight: bold;
    &.danger {
      background: theme-color('danger');
    }
  }
  > div:hover {
    color: black;
  }
}
