.o_project_cost_report table {
    width: 100%;
}

.o_project_cost_report__title {
    font-weight: 600;
}

.o_project_cost_report__level_1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.o_project_cost_report__level_1 th {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding: 8px 0px;
}

.o_project_cost_report__level_1 td {
    padding: 8px 0px;
}

.o_project_cost_report__level_2 th {
    padding: 8px 0px;
}

.o_project_cost_report__level_2 td {
    padding: 8px 0px;
}

.o_project_cost_report__level_3 {
    font-style: italic;
}

.o_project_cost_report__level_3 th {
    padding: 8px 0px;
}

.o_project_cost_report__level_3 td {
    padding: 8px 0px;
}

.o_project_cost_report__padding_column {
    width: 16px;
}
